{{#if @isOpen}}
  <div
    id={{@guid}}
    aria-labelledby={{@buttonGuid}}
    tabindex='-1'
    ...attributes
    {{on 'keydown' this.onKeydown}}
  >
    {{yield
      (hash
        Item=(component
          'menu/item'
          registerItem=@registerItem
          unregisterItem=@unregisterItem
          goToItem=@goToItem
          closeMenu=@closeMenu
        )
      )
    }}
  </div>
{{/if}}