{{#if @isOpen}}
  <div
    id={{@guid}}
    aria-labelledby={{@buttonGuid}}
    {{on "keydown" this.onKeydown}}
    tabindex="-1"
    ...attributes
  >
    {{yield (hash
      Item=(component
        'menu/item'
        registerItem=@registerItem
        unregisterItem=@unregisterItem
        goToItem=@goToItem
        closeMenu=@closeMenu
      )
    )}}
  </div>
{{/if}}
