<div class="flex items-start justify-center w-screen h-full p-12 bg-gray-50">
  <button
    class="px-4 py-2 text-sm font-medium text-blue-100 bg-blue-800 rounded-md hover:bg-opacity-75 focus:ring-2 focus:ring-white focus:ring-opacity-75"
    type="button"
    {{on "click" (set this.isOpen true)}}>Open dialog</button>

  <Dialog
    class="fixed inset-0 z-10 overflow-y-auto"
    @isOpen={{this.isOpen}}
    @onClose={{set this.isOpen false}}
    as |d|
  >
    <d.Overlay class="fixed inset-0 cursor-default" />

    <div class="min-h-screen px-4 text-center">
      <span class="inline-block h-screen align-middle" aria-hidden="true">
        &#8203;
      </span>

      <div class="inline-block w-full max-w-md p-6 my-8 overflow-hidden text-left align-middle bg-white rounded-lg shadow-xl transition-all transform">
        <d.Title class="text-lg font-medium text-gray-900 leading-6">Payment successful</d.Title>

        <div class="mt-2">
          <p class="text-sm text-gray-500">
          Your payment has been successfully submitted. We’ve sent
          your an email with all of the details of your order.
          </p>

          <a href="javascript:void(0)">with</a>
          <a href="javascript:void(0)">some</a>
          <a href="javascript:void(0)">focusable</a>
        </div>

        <div class="mt-4">
          <button
            type="button"
            class="inline-flex justify-center px-4 py-2 text-sm font-medium text-blue-900 bg-blue-100 border border-transparent rounded-md hover:bg-blue-200 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            {{on "click" (set this.isOpen false)}}
            >
            Got it, thanks!
          </button>
        </div>
      </div>
    </div>
  </Dialog>
</div>
