<div class="flex items-start justify-center w-screen h-full p-12 bg-gray-50">
  {{#let (hash isOpen=false) as |state|}}

    <button
      type="button"
      class="inline-flex items-center px-4 py-2 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      {{on "click" (set state.isOpen true)}}
    >
      Open dialog
    </button>

    <Dialog
      class="fixed inset-0 overflow-hidden"
      @as="div"
      @isOpen={{state.isOpen}}
      @onClose={{set state.isOpen false}}
      as |dialog|
    >
      <div class="absolute inset-0 overflow-hidden">
        <dialog.Overlay class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />

        <div class="fixed inset-y-0 right-0 flex max-w-full pl-10">
          <div class="relative w-96">
            <div class="absolute top-0 left-0 flex pt-4 pr-2 -ml-8 sm:-ml-10 sm:pr-4">
              <button
                type="button"
                class="text-gray-300 rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                {{on "click" dialog.onClose}}
              >
                <span class="sr-only">Close panel</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="h-full p-8 overflow-y-auto bg-white">
              <div class="pb-16 space-y-6">
                <div>
                  <div class="block w-full overflow-hidden rounded-lg aspect-w-10 aspect-h-7">
                    <img
                      src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80"
                      alt="cheese"
                      class="object-cover"
                    />
                  </div>
                  <div class="flex items-start justify-between mt-4">
                    <div>
                      <h2 class="text-lg font-medium text-gray-900">
                        <span class="sr-only">Details for </span>IMG_4985.HEIC
                      </h2>
                      <p class="text-sm font-medium text-gray-500">3.9 MB</p>
                    </div>
                    <button
                      type="button"
                      class="flex items-center justify-center w-8 h-8 ml-4 text-gray-400 bg-white rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                      </svg>
                      <span class="sr-only">Favorite</span>
                    </button>
                  </div>
                </div>
                <div>
                  <h3 class="font-medium text-gray-900">Information</h3>
                  <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
                    <div class="flex justify-between py-3 text-sm font-medium">
                      <dt class="text-gray-500">Uploaded by</dt>
                      <dd class="text-gray-900">Marie Culver</dd>
                    </div>
                    <div class="flex justify-between py-3 text-sm font-medium">
                      <dt class="text-gray-500">Created</dt>
                      <dd class="text-gray-900">June 8, 2020</dd>
                    </div>
                    <div class="flex justify-between py-3 text-sm font-medium">
                      <dt class="text-gray-500">Last modified</dt>
                      <dd class="text-gray-900">June 8, 2020</dd>
                    </div>
                    <div class="flex justify-between py-3 text-sm font-medium">
                      <dt class="text-gray-500">Dimensions</dt>
                      <dd class="text-gray-900">4032 x 3024</dd>
                    </div>
                    <div class="flex justify-between py-3 text-sm font-medium">
                      <dt class="text-gray-500">Resolution</dt>
                      <dd class="text-gray-900">72 x 72</dd>
                    </div>
                  </dl>
                </div>
                <div>
                  <h3 class="font-medium text-gray-900">Description</h3>
                  <div class="flex items-center justify-between mt-2">
                    <p class="text-sm italic text-gray-500">Add a description to this image.</p>
                    <button
                      type="button"
                      class="flex items-center justify-center w-8 h-8 -mr-2 text-gray-400 bg-white rounded-full hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                      </svg>
                      <span class="sr-only">Add description</span>
                    </button>
                  </div>
                </div>
                <div>
                  <h3 class="font-medium text-gray-900">Shared with</h3>
                  <ul class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
                    <li class="flex items-center justify-between py-3">
                      <div class="flex items-center">
                        <img
                          src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=1024&h=1024&q=80"
                          alt="cheese"
                          class="w-8 h-8 rounded-full"
                        />
                        <p class="ml-4 text-sm font-medium text-gray-900">Aimee Douglas</p>
                      </div>
                      <button
                          type="button"
                          class="ml-6 text-sm font-medium text-indigo-600 bg-white rounded-md hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                          >
                          Remove<span class="sr-only"> Aimee Douglas</span>
                      </button>
                    </li>
                    <li class="flex items-center justify-between py-3">
                      <div class="flex items-center">
                        <img
                          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=oilqXxSqey&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                          alt="cheese"
                          class="w-8 h-8 rounded-full"
                        />
                        <p class="ml-4 text-sm font-medium text-gray-900">Andrea McMillan</p>
                      </div>
                      <button
                        type="button"
                        class="ml-6 text-sm font-medium text-indigo-600 bg-white rounded-md hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                      >
                        Remove<span class="sr-only"> Andrea McMillan</span>
                      </button>
                    </li>
                    <li class="flex items-center justify-between py-2">
                      <button
                        type="button"
                        class="flex items-center p-1 -ml-1 bg-white group rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
                      >
                        <span class="flex items-center justify-center w-8 h-8 text-gray-400 border-2 border-gray-300 border-dashed rounded-full">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                          </svg>
                        </span>
                        <span class="ml-4 text-sm font-medium text-indigo-600 group-hover:text-indigo-500">
                          Share
                        </span>
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="flex">
                  <button
                    type="button"
                    class="flex-1 px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    Download
                  </button>
                    <button
                      type="button"
                      class="flex-1 px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                      Delete
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Dialog>
  {{/let}}
</div>
