<div class='flex items-start justify-center w-screen h-full p-12 bg-gray-50'>
  <button
    type='button'
    class='inline-flex items-center px-4 py-2 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'
    {{on 'click' (set this 'isOpen' true)}}
  >
    open 1
  </button>
  <Dialogs::Nested
    @isOpen={{this.isOpen}}
    @onClose={{set this 'isOpen' false}}
    @level={{1}}
  />
</div>