<div
  ...attributes
  data-test-headlessui-switch
  data-test-headlessui-switch-is-on={{@isOn}}
>
  {{yield (hash
    isOn=@isOn
    Label=(
      component 'switch/label'
      guid=this.labelGuid
      onPointerUp=this.onLabelPointerUp
    )
    Button=(
      component 'switch/button'
      guid=this.buttonGuid
      labelGuid=this.labelGuid
      isOn=@isOn
      onClick=this.onButtonClick
      onKeyUp=this.onButtonKeyUp
    )
  )}}
</div>
