<div class="{{if this.renderContent '' 'hidden'}}"
    data-test-headlessui-tabs-content='test-tabs-content-{{@content-index}}'
    {{this.registerContent}} ...attributes>
    {{#if this.renderContent}}
        {{yield}}
    {{/if}}
</div>
