<div class='container my-24'>
  <div class='prose'>
    <h2>Examples</h2>

    <ul>
      <li>
        <h3 class='text-xl'>Menu</h3>
        <ul>
          <li>
            <LinkTo @route='menu.menu-basic'>Menu (basic)</LinkTo>
          </li>
          <li>
            <LinkTo @route='menu.menu-with-popper'>Menu with Popper [todo]</LinkTo>
          </li>
          <li>
            <LinkTo @route='menu.menu-with-transition'>
              Menu with Transition
            </LinkTo>
          </li>
          <li>
            <LinkTo @route='menu.menu-with-transition-and-popper'>Menu with
              Popper + Transition [todo]</LinkTo>
          </li>
        </ul>
      </li>
      <li>
        <h3 class='text-xl'>Listbox</h3>
        <ul>
          <li>
            <LinkTo @route='listbox.listbox-basic'>Listbox (basic)</LinkTo>
          </li>
        </ul>
      </li>
      <li>
        <h3 class='text-xl'>Switch</h3>
        <ul>
          <li>
            <LinkTo @route='switch.switch-basic'>Switch (basic)</LinkTo>
          </li>
          <li>
            <LinkTo @route='switch.switch-checkbox'>Switch (checkbox)</LinkTo>
          </li>
        </ul>
      </li>
      <li>
        <h3 class='text-xl'>Dialog</h3>
        <ul>
          <li>
            <LinkTo @route='dialog.dialog-modal'>Dialog (modal)</LinkTo>
          </li>
          <li>
            <LinkTo @route='dialog.dialog-slide-over'>Dialog (slide over)</LinkTo>
          </li>
          <li>
            <LinkTo @route='dialog.dialog-nested'>Dialog (nested)</LinkTo>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>