<a
  class="
    flex justify-between w-full px-4 py-2 text-sm leading-5 text-left
    {{if @item.isActive "bg-indigo-500 text-white" "text-gray-700"}}
    {{if @item.isDisabled "cursor-not-allowed opacity-50"}}
  "
  ...attributes
>
  {{yield}}
</a>