{{on this.window 'keydown' this.onWindowKeydown}}

{{#if this.displayedKeys}}
  <div
    class='fixed z-50 px-4 py-2 overflow-hidden text-2xl tracking-wide text-blue-100 bg-blue-800 rounded-md shadow cursor-default pointer-events-none select-none right-4 bottom-4'
  >
    {{this.displayedKeys}}
  </div>
{{/if}}